@import 'tailwindcss';

:root {
  --background: #f6f6f6;
  --foreground: #171717;
  --transition: all 0.3s ease-in-out;
  --color-main: #1565c0;
  --color-gray: #dbdbdb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

body,
* {
  font-family: 'Roboto', sans-serif;
  line-height: calc(1em + 8px);
}

button {
  cursor: pointer;
}

img,
a {
  display: block;
}

.transition-custom {
  transition: var(--transition);
}
