@import 'tailwindcss';
@plugin "@tailwindcss/typography";

:root {
  --background: #f2f2f2;
  --foreground: #000000;
  --color-main: #1f327e;
  --color-accent: #337dff;
  --color-warning: #f9dd8d;
  --color-disabled: #c5c0db;
  --color-light-neutral: #f5f5f5;
  --color-dark-neutral: #333333;
  --color-neutral-foreground: #424242;
  --color-text-default: #212121;
  --color-text-gray: #8a8894;
  --color-text-light-gray: #c9c8d3;
  --color-text-light-gray-border: #c7c7c7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

body,
* {
  font-family: 'Rubik', sans-serif;
  line-height: 1.2;
}

button {
  cursor: pointer;
}

img,
a {
  display: block;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

* {
  scrollbar-width: thin;
}

@layer utilities {
  .transition-custom {
    transition: all 0.2s ease-in-out;
  }
}

/* Для PDF viewer */

.rpv-core__viewer {
  background-color: transparent !important;
}

.rpv-core__inner-pages {
  background-color: transparent !important;
}

.rpv-core__inner-page {
  background-color: transparent !important;
}

.rpv-core__page-layer {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 16px auto;
}

.rpv-thumbnail__item--selected {
  border: 1px solid var(--color-accent) !important;
  background-color: transparent !important;
}

.rpv-thumbnail__item {
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all 0.2s;
}

.rpv-thumbnail__item:hover {
  border-color: var(--color-accent) !important;
  background-color: transparent !important;
}

.rpv-thumbnail__container {
  background-color: transparent !important;
}

.rpv-core__inner-pages::-webkit-scrollbar,
aside::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.rpv-core__inner-pages::-webkit-scrollbar-track,
aside::-webkit-scrollbar-track {
  background: var(--color-light-neutral) !important;
  border-radius: 10px;
}

.rpv-core__inner-pages::-webkit-scrollbar-thumb,
aside::-webkit-scrollbar-thumb {
  background: var(--color-light-neutral) !important;
  border-radius: 10px;
  border: 2px solid var(--color-light-neutral);
}

.rpv-core__inner-pages::-webkit-scrollbar-thumb:hover,
aside::-webkit-scrollbar-thumb:hover {
  background: var(--color-light-neutral) !important;
}

.rpv-core__inner-pages,
aside {
  scrollbar-color: var(--color-text-light-gray) transparent !important;
}

.rpv-core__textbox {
  border-radius: 100px !important;
  text-align: center;
  width: 69px !important;
  height: 40px !important;
  padding: 0 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}

.rpv-page-navigation__current-page-input {
  width: auto !important;
  margin: 0 !important;
}
